#arctic-fox {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
}

.found-card {
    background-color: aliceblue;
    margin: 1em 0;
    padding: 1em;
    border: none;
}

.serial {
    font-weight: bold;
}

.exemplar {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    margin: 1em 0 0 0;
    font-weight: bold;
    color: white;
}

.exemplar-label {
    margin: 0.3em;
    padding: 0.3em;
}

.exemplar-ok {
    background: green;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.exemplar-bad {
    background: indianred;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.exemplar-u {
    background: cadetblue;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.links-label {
    margin: 0.3em;
    padding: 0.3em;
}

.links {
    font-weight: bold;
    margin: 1em 0 0 0;
}

.link {
    background: blue;
    margin: 0 0.5em;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
    color: white;
}

.sigla {
    color: yellow;
    margin-left: 0.3em;
}

.arrangement {
    font-weight: bold;
    margin-right: 1em;
    white-space: nowrap;
    word-wrap: break-word;
}
