#arctic-fox {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
}

.found-card {
    background-color: aliceblue;
    margin: 1em 0;
    padding: 1em;
    border: none;
}

.serial {
    font-weight: bold;
}

.exemplar {
    margin: 1em 0 0 0;
    text-align: end;
    font-weight: bold;
    color: white;
}

.exemplar-ok {
    background: green;
    margin: 0 0.5em;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.exemplar-not-ok {
    background: indianred;
    margin: 0 0.5em;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.links {
    margin: 1em 0 0 0;
}

.link {
    background: cornflowerblue;
    margin: 0 0.5em;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
    color: white;
}

.sigla {
    color: yellow;
    margin-left: 0.3em;
}
