<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Привет, HTMX!</title>
    <link rel='icon' type='image/png' href='img/favicon.ico'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="application/javascript" src="js/htmx.min.js"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-lg-8 offset-lg-2 mt-3">

            <button class="btn btn-primary"
                    hx-get="https://httpbin.org/html"
                    hx-target="#resultHolder">
                Нажми меня!
            </button>

            <div class="text-primary">
                <label for="resultHolder">Сюда мы поместим результат:</label><br/>
            </div>

            <div id="resultHolder" class="border border-primary p-3">
                (пока пусто)
            </div>

        </div>
    </div>
</div>

</body>
</html>
