@* ReSharper disable once CheckNamespace *@

@namespace AM.Web.Components

<h2 class="text-center mb-4">@ChildContent</h2>

@code
{
    /// <summary>
    /// Текст заголовка
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
