<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a  class="nav-link text-primary" asp-page="/Account/Manage" title="Личный кабинет">@User.Identity?.Name</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
