@page
@model Opac2023.Pages.Account.ManageModel
@{
}

<h3>Личный кабинет</h3>

<form asp-page="/Account/Logout" method="post" >
    <button type="submit" class="btn btn-danger">Выход</button>
</form>
